<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        table, tr, th, td {
          border: 1px solid #ddd;
          text-align: left;
        }

        table {
          border-collapse: collapse;
          width: 100%;
        }
    </style>
    <meta charset="UTF-8">
    <title>글 목록</title>
</head>
<body>
<a href="/save">글 쓰기</a>
<a href="/">초기화면</a>
<table>
    <tr>
        <th>아이디</th>
        <th>제목</th>
        <th>내용</th>
    </tr>
    <tr th:each="board :${boardList}">
        <td th:text="${board.id}"></td>
        <td>
            <a th:text="${board.boardTitle}" th:href="@{|${board.id}|}"></a>
        </td>
        <td th:text="${board.boardContent}"></td>
    </tr>
</table>
</body>
</html>